@import './utilities';

@keyframes fadeLeft{
  40% {
    opacity: 0.6;
    transform: translateX(2rem);
  }
  60% {
    opacity: 0.4;
    transform: translateX(3rem);
  }
  100% {
    opacity: 0;
    transform: translateX(5rem);
  }
}

@keyframes fadeUp {
  0% {
    transform: scale(.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.home {
  position: relative;
  padding-top: 14rem;
  background: url(../image/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;

  .slide-container {

    .slide {
      display: none;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1.5rem;
      // height: 80vh;

      &.active {
        display: flex;
      }

      .content {
        flex-basis: 40rem;
        animation: fadeLeft .4s linear backwards;

        span {
          color: $light-color;
          font-size: 2.5rem;
        }

        h3 {
          font-size: 6rem;
          color: $black;
          padding: 0.5rem 0;
          
        }
      }

      .image {
        flex-basis: 40rem;
        
        img {
          width: 100%;
          animation: fadeUp .4s linear;
        }
      }
    }
  }

  #next-slide,
  #prev-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    box-shadow: $box-shadow;
    color: black;
    background-color: $white;
    text-align: center;
    font-size: 2.5rem;
    cursor: pointer;

    &:hover {
      background-color: $green;
      color: $white;
    }
  }

  #prev-slide {
    left: 2rem;
  }

  #next-slide {
    right: 2rem;
  }
}

.banner-container {
  @include grid(32rem);

  .banner {
    position: relative;
    height: 25rem;
    overflow: hidden;

    &:hover img{
      transform: scale(1.1);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .content {
      position: absolute;
      top: 50%;
      left: 2rem;
      transform: translateY(-50%);

      span {
        color: $light-color;
        font-size: 1.5rem;
      }

      h3 {
        display: block;
        font-size: 2rem;
        padding-top: .5rem;
        color: $black;
      }

      .btn {
        padding: 0.8rem 2.5rem;
      }
    }
  }

}

@media screen and (max-width: 991px){
  .home #next-slide,
  .home #prev-slide {
    transform: translateY(0);
    top: 88%;
  } 

  .home #prev-slide {
    left: auto;
    right: 8rem;
  }
}

@media screen and (max-width: 450px){
  .home .slide-container .slide .content h3 {
    font-size: 4rem;
  }
  .home .slide .image {
    margin: 3rem;
  }
}

